<!DOCTYPE html>
<html>
	<head>
		<title>Add Food - Food Storage Counselor</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/add.css" />

		<!-- Load jQuery UI CSS  -->
    	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

		<!-- Load jQuery JS -->
	    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	    <!-- Load jQuery UI Main JS  -->
	    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

	    <!-- Load SCRIPT.JS which will create datepicker for input field  -->
	    <script src="/javascripts/calendar.js"></script>
	    <script>
	    	function change() {
	    		var e = document.getElementById("units");
	    		var val = e.options[e.selectedIndex].value;
	    		document.getElementById("unit").value = val;
	    		//alert(val);
	    	}
		</script>

	</head>
	<body>
		<!-- begin navbar -->
		<div id="navbar">
			<div id="navleft">
				<a href="home" class="navbutton">Home</a>
				<a href="add" class="navbutton">Add Food</a>
				<a href="view" class="navbutton">View Food</a>
				<a href="schedules" class="navbutton">Schedules</a>
			</div>
			<div id="navright">
				<a href="login" class="navbutton">Log in</a>
				<a href="register" class="navbutton">Register</a>
			</div>
		</div>
		<!-- end navbar -->

		<div id="maincontainer">
			<h1>Add Food</h1>

			<form id="addform" action="#" method="post">
				<label for="food">Food:</label>
				<input type="text" name="food" id="food" placeholder="e.g., sugar" />
				<br />
				<label for="amount">Amount:</label>
				<input type="number" name="amount" id="amount" placeholder="5" />
				<select id="units" onchange="change()">
				  <option value="pounds">pounds</option>
				  <option value="gallons">gallons</option>
				  <option value="grams">grams</option>
				  <option value="ounces">ounces</option>
				  <option value="liters">liters</option>
				</select>
				<input type="hidden" id="unit" name="unit"/>
				<br />
				<!--should be type="date", but that's not widely supported yet-->
				<!--<input type="text" name="expiry" id="expiry" placeholder="1 Jan 1900" pattern="[0-3]?[0-9] (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) ([0-9]{2}|[0-9]{4})" />
				<br />
				<label for="exday">Abc:</label>-->
				<!--<input type="number" name="exmonth" id="exmonth" min="1" max="12" placeholder="month" /> /
				<input type="number" name="exday" id="exday" placeholder="day" min="1" max="31" placeholder="day" /> /
				<input type="number" name="exyear" id="exyear" placeholder="year" min="0" max="9999" />
				<br /> -->
				<label for="location">Storage Location:</label>
				<input type="text" name="location" id="location" placeholder="e.g., garage" />
				<br />
				<label for="datepicker">Expiration Date:</label>
				<input type="text" name="expiration" id="datepicker" />
				<br />
				<input type="submit" value="Add Food" />
			</form>
		</div>
	</body>
</html>
