<!DOCTYPE html>
<html>
	<head>
		<title>Food Storage Counselor</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script type="text/javascript"> 
			$(document).ready(function(){
				//alert("Testing this");
			})
		</script>
	</head>
	<body>
		<!-- begin navbar -->
		<div id="navbar">
			<div id="navleft">
				<a href="home" class="navbutton">Home</a>
				<a href="add" class="navbutton">Add Food</a>
				<a href="view" class="navbutton">View Food</a>
				<a href="schedules" class="navbutton">Schedules</a>
			</div>
			<div id="navright">
				<a href="login" class="navbutton">Log in</a>
				<a href="register" class="navbutton">Register</a>
			</div>
		</div>
		<!-- end navbar -->

		<div id="maincontainer">
			<h1>Home</h1>

			[Stuff goes here...]
		</div>
	</body>
</html>
