<!DOCTYPE html>
<html>
	<head>
		<title>Food Storage Counselor</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	</head>
	<body>
		<div id="maincontainer">
			<h1>Food Storage Counselor</h1>
			<p class="blurb">A web application for managing your food storage.</p>

			<div id="getstarted">
				<h2>New here?</h2>
				<a id="start_button" href="intro">Get Started</a>
			</div>

			<div id="login">
				<h2>Already have an account?</h2>
				<!-- begin login form -->
				<form id="login_form" action="/" method="post">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" placeholder="user@example.com" autofocus />
					<br />
					<label for="password">Password</label>
					<input type="password" name="password" id="password"
						placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;" />
					<br />
					<input type="submit" value="Log in" />
				</form>

				<a id="log_fb" class="oauth_button" href="/auth/facebook">
					<img class="imgtop" src="/images/facebook_white.png" width="20" height="20" alt="Facebook logo" />
					Log in with Facebook
				</a> <br />
				<!--<a id="log_g" class="oauth_button" href="/auth/google">Log in with Google</a>-->
				<!-- end login form -->
			</div>

			<div class="vr"></div>
		</div>
	</body>
</html>
