<!DOCTYPE html>
<html>
	<head>
		<title>Introduction - Food Storage Counselor</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	</head>
	<body>
		<!-- begin navbar -->
		<div id="navbar">
			<div id="navleft">
				<a href="/" class="navbutton">Home</a>
				<a href="add" class="navbutton">Add Food</a>
				<a href="view" class="navbutton">View Food</a>
				<!--<a href="schedules.html" class="navbutton">Schedules</a>-->
			</div>
			<div id="navright">
				<a href="login" class="navbutton">Log in</a>
				<a href="register" class="navbutton">Register</a>
			</div>
		</div>
		<!-- end navbar -->

		<div id="maincontainer">
			<h1>What you can do with Food Storage Counselor</h1>

			<ul>
				<li>
					<h2>Record all the items you have in food storage.</h2>
					<img src="/images/placeholder.jpg" width="512" height="192" alt="Record food storage" />
				</li>
				<li>
					<h2>Be alerted when items are about to expire.</h2>
					<img src="/images/placeholder.jpg" width="512" height="192" alt="Record food storage" />
				</li>
				<!--<li>
					<h2>See how long your storage will last.</h2>
					<img src="img/placeholder.jpg" width="512" height="192" alt="Record food storage" />
				</li>-->
				<!--<li>
					<h2>Find meals you can make with your stored food.</h2>
					<img src="img/placeholder.jpg" width="512" height="192" alt="Record food storage" />
				</li>-->
			</ul>

			<div id="intro_end">
				<div class="intro_end_option">
					<a id="start_button" href="add">Start Adding Food</a>
					Try out the system without an account. You won't be able to save your food information, but don't worry, you can register and save your progress later.
				</div>

				<div class="intro_end_option">
					<a id="start_button" href="register">Register an Account</a>
					Get all the benefits and features of having an account right away, totally free.
				</div>
			</div>
		</div>
	</body>
</html>
