<!DOCTYPE html>
<html>
	<head>
		<title>View Food - Food Storage Counselor</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	</head>
	<body>
		<!-- begin navbar -->
		<div id="navbar">
			<div id="navleft">
				<a href="home" class="navbutton">Home</a>
				<a href="add" class="navbutton">Add Food</a>
				<a href="view" class="navbutton">View Food</a>
				<a href="schedules" class="navbutton">Schedules</a>
			</div>
			<div id="navright">
				<a href="login" class="navbutton">Log in</a>
				<a href="register" class="navbutton">Register</a>
			</div>
		</div>
		<!-- end navbar -->

		<div id="maincontainer">
			<h1>Food Storage Contents</h1>
				<%= message %>
				<% foods.forEach(function(entry) { %>
					<div class="foodentry">
						<div class="fooditem">
							Food type: <%= entry.values.food %>
							<%= entry.values.amount %> 
              <%= entry.values.measurement %>
							Expires: <%= entry.values.expirationDate %>.
							Current location: <%= entry.values.storageLocation %>
              <form id = "editform" action = "#" method="post">
              <input type="submit" name="button1" value = "edit" class ="navbutton"/>
                <input type="hidden" name ="food" value = <%= entry.values.food %> />
                <input type="hidden" name ="amount" value = <%= entry.values.amount %> />
                  <input type="hidden" name ="id" value = <%= entry.values.id %> />
                  <input type="submit" name="button2" value = "remove" class ="navbutton"/>
              </form>
						</div>
					</div>
				<% }) %>
		</div>
	</body>
</html>
